<section>
    <!-- <div class="container">
        <h2>Filme em Destaque</h2>
        <p>O que você vai assistir hoje?</p>
        <img mat-card-image [src]="foto" [alt]="titulo" />
    </div> -->
    <div class="carro">
        <div class="carro-contem">
            <h1 class="carro-titulo">Filme em Destaque</h1>
            <div class="carro-btn">
                <button class="carrobtn">Assista</button>
                <button class="carrobtn">Minha Lista</button>
            </div>
            <div class="carro-desc">
                "Orgulho e Preconceito" é um romance clássico de Jane Austen, retratando a vida da família Bennet no século XIX. A história foca no relacionamento entre Elizabeth Bennet e o Sr. Darcy, explorando temas de classe social, amor e preconceito, em meio às complexidades da sociedade da época."
            </div>
        </div>
        <div class="faixa"></div>
    </div>
</section>

