@import '../app.component.scss';

.container{
    width: 1140px;
    min-height: calc(100vh - 105px);
    display: block;
    margin: auto;
    h1{
        background-color: $fundo;
        color: $branco;
        padding-left: 10px;
        margin-top: 20px;
    }
    form{
        mat-form-field{
            display: block;
            font-family: $fonte-secundaria;
            font-size: 18px;
        }
        button{
            background-color: $fundo;
            display: block;
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            font-family: sans-serif;
            text-decoration: none;
            color: #efefef;
            border: none;
            margin-left: 10px;
            letter-spacing: 2px;
            text-align: center;
            position: relative;
            transition: all .35s;
            &::after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $cor-secundaria;
                color: black;
                transition: all .35s;
            }
            &:hover{
                color: $branco;
                
            }
            &:hover::after{
                width: 100%;
                border-radius: 0.2vw;
            }
            span{
                position: relative;
                z-index: 2;   
            }
        }
    //     button{
    //         width: 10%;
    //         cursor: pointer;
    //         border: none;
    //         background-color: $cor-secundaria;
    //         color: $cor-ternaria;
    //         padding: 10px;
    // }
}
}